:root {
  /* spacing */
  --spacing: 6px;
  --spacing-gap: var(--spacing);

  /* typography */
  --font-family: helvetica, arial, sans-serif;
  --font-size-base: 13px;
  --font-weight-base: normal;
  --font-weight-bold: bold;

  /* colors */
  --color-blue: #2326DE;
  --color-white: #fff;
  --color-black: #000;
  --color-gray-dark: #9B9FA2;
  --color-gray: #B9BDC1;
  --color-gray-light: #F1F1F1;
  --color-off-white: #F8F8F8
  --color-yellow-gloss: #E6F934;
  --color-yellow-matte: #F8FBE3;
  --color-green-gloss: #1D2F33;
  --color-green-matte: #DCD8C2;
  --color-red-gloss: #F13E38;
  --color-red-matte: #F6E0D3;
  --color-success: #25C071;
  --color-error: #E83D3D;
}

/* Regular */
/* @font-face {
  font-display: block;
  font-family: 'Hem Sans';
  font-style: normal;
  font-weight: var(--font-weight-base);
  src: url('./assets/fonts/HemSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/HemSans-Regular.woff') format('woff');
} */

/* Medium */
/* @font-face {
  font-display: block;
  font-family: 'Hem Sans';
  font-style: bold;
  font-weight: var(--font-weight-bold);
  src: url('./assets/fonts/HemSans-Medium.woff2') format('woff2'),
    url('./assets/fonts/HemSans-Medium.woff') format('woff');
} */

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-kerning: normal;
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  font-weight: var(--font-weight-base);
}

body {
  background-color: var(--color-green-matte);
}

h1 {
  font-weight: var(--font-weight-base);
}

strong {
  font-weight: var(--font-weight-bold);
}

/* this is so bad. i'm sorry */
*:focus {
  outline: none;
}


.layout {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  max-height: 100vh;
  max-width: 100vw;
}

.header {
  padding: calc(var(--spacing) * 2) calc(var(--spacing) * 2) var(--spacing);
  margin-bottom: var(--spacing);
}

.image {
  position: relative;
  background-color: var(--color-blue);
}

.image__img {
  aspect-ratio: 3 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__icon {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: var(--spacing);
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: all 0.5s ease;
}

.image__icon:hover {
  background-color: var(--color-black);
}

.image__refresh {
  width: 29px;
  height: 29px;
}

.image__icon svg {
  fill: var(--color-white);
}

.image__icon.rotate svg {
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.footer button {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  -webkit-appearance: none;
  background-color: var(--color-blue);
  color: var(--color-green-matte);
  font: inherit;
  font-weight: var(--font-weight-bold);
  transform: all 0.5s ease;
}

.footer button:hover {
  color: var(--color-white);
}
